<div class="row text-center">
  <div class="col-12">
    <h1>{{ constants.titles.home }}</h1>
  </div>
</div>
<div class="row">
  <div class="col-12">
    <div class="input-group">
      <select
        id="categorySelect"
        class="form-select"
        [(ngModel)]="filter.category"
      >
        <option *ngFor="let category of categoryList" [value]="category.id">
          <span>{{ category.name }}</span>
        </option>
      </select>
      <select
        id="difficultySelect"
        class="form-select"
        [(ngModel)]="filter.difficulty"
      >
        <option
          *ngFor="let difficulty of difficulties"
          [value]="difficulty.value"
        >
          <span>{{ difficulty.description }}</span>
        </option>
      </select>
      <button
        id="createBtn"
        type="button"
        class="btn btn-outline-secondary"
        (click)="createQuiz()"
        [disabled]="+filter.category < 0 || !filter.difficulty"
      >
        {{ constants.buttons.create }}
      </button>
    </div>
  </div>
</div>

<div *ngIf="questionList && questionList.length">
  <div *ngFor="let question of questionList">
    <div class="row mb-3 mt-3">
      <div class="col-12 bold" [innerHTML]="question.question"></div>
    </div>
    <div class="row">
      <div class="col-2" *ngFor="let answer of question.all_answers">
        <button
          [id]="answer.id"
          type="button"
          [ngClass]="answer.checked ? 'btn btn-success': 'btn btn-outline-success'"
          [innerHTML] = "answer.description"
          (click)="toggleAnswer(question, answer.id)"
        >
        </button>
      </div>
    </div>
  </div>
</div>
<div *ngIf="showSubmit" class="row text-center mt-5">
  <div class="col-12">
    <button
      id="submitBtn"
      type="button"
      class="btn btn-primary"
      (click)="submitAnswers()"
    >
    {{constants.buttons.submit}}
    </button>
  </div>
</div>
